*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    overflow-y: hidden;
}
.menu-verticale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    background-color: black;
    min-width: 250px;
    font-size: 15px;
}

.azione{
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery{
    height: calc(100vh - 100px);
    background-color: #141922;
}

.azione,footer{
    height: 100px;
    width: 100%;
}

footer{
    background-color: #282828;
}
li{
    color: white;
    text-decoration: none;
    list-style: none;
}
.logo{
  z-index: 1;
  color: white;
  line-height: 1.6;
  margin-top: 30px;
}
.bottom{
  color: white;
  width: 20px;
  
}
.immagine{
    width: 20px;
    
}
.playlist{
    margin-top: 80px;
    color: white;
}

