*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-verticale{
    height: calc(100vh - 100px);
    background-color: black;
}

.azione{
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery{
    height: calc(100vh - 100px);
    background-color: #141922;
}

.azione,
footer{
    height: 100px;
    width: 100%;
}

footer{
    background-color: #282828;
}
li{
    color: white;
    text-decoration: none;
}
.logo{
  z-index: 1;
  color: white;
}
.bottom{
  color: white;
  width: 50px;
}
