*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    overflow-y: hidden;
}
.azione ul li a img{
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 10px 0;
}
.menu-verticale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    background-color: black;
    min-width: 250px;
    font-size: 15px;
}
.menu-verticale a{
    color: white;
    text-decoration: none;
}

.azione{
    background-color: rgba(0, 0, 0, 0.3);
    
}
.azione .upgrade{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    text-transform: uppercase;
}

.gallery{
    height: calc(100vh - 100px);
    background-color: #141922;
}

.azione,footer{
    height: 100px;
    width: 100%;
}

footer{
    background-color: #282828;
}
li{
    color: white;
    text-decoration: none;
    list-style: none;
}
.logo{
    padding: 25px 0;
    width: 65%;
}
.bottom {
  color: white; 
}
.bottom img{
    width: 20px;
}
.immagine{
    width: 20px;
    
}
.playlist{
    color: white;
    width: 100%;
    margin-top: 30px;
}
/* z-index configuration*/
.zi-100{
    z-index: 100;
}

.zi-200{
    z-index: 200;
}

.zi-300{
    z-index: 300;
}

.zi-400{
    z-index: 400;
}

.zi-500{
    z-index: 500;
}
/* OVERFLOW */
.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}
/* PLAYLIST */
#add-playlist i{
    font-size: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.list-playlist{
    /* max-height: 200px; */
    min-height: 120px;
    overflow-y: auto;
}
/* margin + padding */
.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}
.flex{
    display: flex;

}
.w100{
  width: 100%;
}
.nav-bottom{
    height: 80px;
}
.nav-top{
    height: calc(100% - 80px);
}
.gallery section{
    margin: 20px 0;
}

.gallery section ul li a{
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 15px;

}
